{% extends 'administracion/base.html' %}
{% block content %}
<h1>Departamentos</h1>

<a class="btn btn-primary mb-3" href="{% url 'administracion:departamento_create' %}">Nuevo Departamento</a>

{% if departamentos %}
<table class="table">
   <thead>
      <tr>
         <th>Nombre</th>
         <th>Empresa</th>
         <th>Acciones</th>
      </tr>
   </thead>
   <tbody>
      {% for d in departamentos %}
      <tr>
         <td>{{ d.nombre }}</td>
         <td>{{ d.empresa.nombre }}</td>
         <td>
            <a href="{% url 'administracion:departamento_update' d.pk %}" class="btn btn-warning btn-sm">Editar</a>
            <a href="{% url 'administracion:departamento_delete' d.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
         </td>
      </tr>
      {% endfor %}
   </tbody>
</table>
{% else %}
<div class="alert alert-warning">No hay departamentos registrados.</div>
{% endif %}
{% endblock %}